:root {
  --cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --very-dark-blue: hsl(212, 21%, 14%);
}

.App {
  background-color: aquamarine;
  padding: 24px 16px;
}

.card-parfume {
  width: 100%;
  padding: 0;
  border-radius: 8px;
  background-color: white;
}

.card-parfume > img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.card-description {
  padding: 22px;
}

.card-description h2 {
  font-size: 12px;
  letter-spacing: 4px;
  color: var(--cyan);
  font-weight: 400;
  margin-bottom: 14px;
}

.card-description h3 {
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: xx-large;
  color: var(--very-dark-blue);
  line-height: 1;
  margin-bottom: 16px;
}

.card-description p {
  color: var(--cyan);
  font-size: 14px;
  margin-bottom: 24px;
  line-height: 1.7;
}

.product-price {
  color: var(--cyan);
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 24px;
}

.product-price strong {
  font-weight: 700;
  font-family: "Fraunces", sans-serif;
  font-size: xx-large;
}

.btn-add-to-card {
  width: 100%;
  background-color: var(--cyan);
  color: var(--white);
  border: none;
  border-radius: 6px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
  cursor: pointer;
}

@media (min-width: 588px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .card-parfume {
    display: flex;
    max-width: 560px;
  }

  .card-parfume > img {
    width: 50%;
    height: 100%;
    border-radius: 8px 0 0 8px;
  }
}
